# dependencies
node_modules

# misc
.DS_Store

# local env files
.env*
!.env
!.env.staging
!.env.production
target
coverage
tmp
.*temp

# build results
dist
build
out
.turbo
.flaskenv*
tsup.config.bundled_*
*.tsbuildinfo

# Cloudflare
worker-configuration.d.ts
.dev.vars*
.wrangler

# Typegen
node-env.d.ts

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/schemas
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.DS_Store
/node_modules/
*.tsbuildinfo

# React Router
/.react-router/
/build/
