@import '@resettle/design/styles';

@source '.';

@theme {
  --font-sans:
    'Raleway', 'Noto Sans SC', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-serif: 'PT Serif', 'Noto Serif SC', ui-serif, serif;
}

@keyframes confetti {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-100px) rotate(20deg);
    opacity: 0;
  }
}
